.table-editable {
  position: relative;

  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #B00;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}

.table-add {
  text-align:center;
  color: #0B0;
  cursor: pointer;

  &:hover {
    color: #0f0;
  }
}